/*#recipeCarousel .img-wrapper {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}*/
@media screen and (max-width: 576px) {
    #recipeCarousel img {
        max-width: 100%;
        max-height: 100%
    }
    #recipeCarousel .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }
}
    @media screen and (min-width: 576px) {
        #recipeCarousel img {
            max-width: 100%;
            max-height: 100%
        }

        #recipeCarousel .img-wrapper {
            max-width: 100%;
            justify-content: center;
            align-items: flex-start;
        }

        #recipeCarousel .card {
            margin: 0 0.5em;
            border-radius: 0;
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            font-size: 0.9em;
        }

        #recipeCarousel .carousel-inner {
            padding: 1em;
        }

        #recipeCarousel img {
            min-width: 100%;
            height: 300Px;
            transition: 0.3s;
        }

        .customcardbody {
            padding: 6%;
        }

        #recipeCarousel .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 332px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
        }

        #recipeCarousel img:hover {
            transform: scale(1.1);
        }
    }

    /*#carouselExampleControls .carousel-inner {
    padding: 1em;
}

#carouselExampleControls .card {
    margin: 0 0.5em;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
}

#carouselExampleControls .carousel-control-prev,
.carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

    #carouselExampleControls .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.8;
    }



#carouselExampleControls img {
    min-width: 300px;
    margin: 10%;
    transition: 0.3s;
}

.customcardbody {
    margin-top: 6%;
    margin-left: 34%;

}

#carouselExampleControls img:hover {
    transform: scale(1.1);
}
#listnav  {
  
    display: block;
}
.margin-2{
    margin-top:2%;
}

#innerPage .leftnav ul li a {
    padding: 6px 18px;
    font-size: 18px;
     color: #fff; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.82);
    display: block;
    transition: all 0.3s ease-in-out;
}
#innerPage .leftnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#innerPage .leftnav {
    margin: 0 0 50px 0;
}

#headerlist a {
    text-decoration: none;
    padding: 0px 0px;
    color: wheat!important;
    background: rgba(0, 0, 0, 0.82);
    cursor: default;
}
.activetour {
    color: wheat !important;
    background: rgba(0, 0, 0, 0.82);
}
.titleimg {
    color: aliceblue;
    list-style: none;
}

.bg-dark {
    background-color: #47494a !important;
}
#hamburg span {
    color: white;
}
/* Style the header with a grey background and some padding */
    .header {
        /* overflow: hidden;*/
        background-color: #47494a !important;
        color: aliceblue;
        padding: 20px 10px;
        opacity: 0.5;
    }

        /* Style the header links */
        /* .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        hite-space: nowrap;
    }*/
        /**/
        /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

    /* Change the background color on mouse-over */
    #listnav a:hover {
        background-color: #ddd;
        color: black;
    }

    #test {
        margin-left: 22%;
    }

    /* Style the active/current link*/
    /*.header a.active {
            background-color: dodgerblue;
            color: white;
        }*/

    /* Float the link section to the right */
    /*.header-right {
    float: right;
}*/
    .colorwhite {
        color: aliceblue;
    }

    #test a {
        color: white;
    }
    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
        .header a {
            float: none;
            display: block;
            text-align: left;
        }

        .header {
            /* overflow: hidden; */
            background-color: #47494a !important;
            color: aliceblue;
            padding: 20px 10px;
            opacity: 1;
        }

        .header-right {
            float: none;
        }

        #navbarCollapse {
            opacity: 1;
        }

        #test {
            margin-left: 0px;
        }
    }

    .header {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0px;
        z-index: 3;
    }

    body {
        margin: 0px;
    }

    .header #background, .header #labels {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .header #labels {
        background-color: transperent;
    }

    .header #background {
        background-color: yellow;
        display: none;
    }


    .content {
        width: 100%;
        height: 5000px;
        background-color: green;
    }

    #listnav li > a {
        color: white;
    }

    p {
        color: white;
    }

    span {
        color: white;
    }

    #listnav li > a:hover {
        color: black;
        background-color: none;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* padding-top: 0.5rem; */
        /* padding-bottom: 0.5rem; */
    }