ul.resp-tabs-list,
p {
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 5px 0;
}
.resp-tabs-list li {
  font-size: 16px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 10px 0 0;
  list-style: none;
  cursor: pointer;
  float: left;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fcddcb;
  color: #f26d22;
  transition: all 0.3s ease-in-out;
}
.resp-tabs-list li:hover {
  color: #FFF;
  background: #f26d22;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
  border-top: 18px solid #f26d22;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 0px solid #c1c1c1;
  border-bottom: none;
  padding: 13px 15px !important;
  background: #f26d22;
  color: #FFF;
}

.resp-tabs-list li.resp-tab-active {
  border-bottom: none;
  color: #FFF;
  background: #f26d22;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #ececec;background: #fafafa; }

h2.resp-accordion {
  font-size: 18px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
  background: #fcddcb;
  color: #f26d22;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #f26d22 !important; color: #FFF;}

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
